.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  size: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(8900deg);
  }
}

.main{
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
  /* height: 100vh; */
  /* background-image: url('./images/darkDay.webp'); */
  background-color: #90d9ee;
  /* background-image: url('./images/HotDay.jpg'); */
}
.heading{
  font-size: 40px;
  display: flex;
  font-weight: bolder;
  /* border: 2px solid black; */
}
#logo{
  height: 90px;
  width: 90px;
}
#heading{
  margin-left: 24%;
}
.container{
  /* border: 1px solid black; */
  height: 650px;
  
 
}
.cont122{
  margin-left: 13px;
}
.cont1{
  display: flex;
  justify-content: space-between;
}
.cont11{
  color: white;
  margin-top: 20px;
  margin-left: 16px;
}
.cont12 form{
  display: flex;
  justify-content: space-around;
  width: 40%;
  height: 20%;
}
.cont2{
  height: 55%;
  display: flex;
  /* border: 1px solid red; */
  
  align-items: center;
}
.cont21{
  width: 40%;
  padding-left: 5%;
font-size: 40px;
  
}
.cont22{
font-size: 90px;
color: white;
 
}
.cont3{
  display: flex;
  align-items: center;
 
  height: 190px;
  justify-content: space-evenly;
}
.cards{
  width: 150px;
  height:130px ;
  border-radius: 5px;
  border: 1px solid black;
  
  box-shadow: 20px;
  text-align: center;
   
  color: rgb(4, 3, 3);
}
.city{
  font-size: 35px;
}
#country{
  border: none;
  outline: none;
  height: 30px;
  width: 220px;
  border-radius: 10px;
}
#city{
  border: none;
  outline: none;
  height: 30px;
  width: 220px;
  border-radius: 10px;
}
#button{
  border: none;
  outline: none;
  height: 30px;
  width: 130px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 40px;
  cursor: pointer;

}
#button:hover{
  background-color: rgb(148, 246, 213);
}